<footer>
    <div class="info">
        <div class="infosocial">
            <div> <i class="fa-brands fa-square-facebook"></i></div>
            <div> <i class="fa-brands fa-square-instagram"></i></div>
            <div> <i class="fa-brands fa-linkedin"></i></div>



        </div>
        <div class="brand"> &copy;Wanderlust pvt ltd</div>
        <div class="links">
            <a href="/privacy" class="listing-link">privacy</a><br>
            <a href="/terms" class="listing-link">terms</a><br>
            <a href="/dev-info" class="listing-link">dev info</a>
        </div>
    </div>
</footer>